label, input, textarea {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: white;
    margin-bottom: 5px;
}

form {
    width: 60vw;
    margin: 0 auto;
    text-align: left;
}

input[type="text"], input[type="email"], textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 98%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid grey;
    font-size: 14px;
    color: black;
}

button {
    background: #009688 !important;
    color: white;
    width: 98%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    margin-top: 5px;
}

button:hover {
    background: #00645b !important;
    box-shadow: 1px 1px 5px grey;
}